* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
    --small-device-border: 5px solid white;
    --big-device-border: 10px solid white;
    --color-button-play: orangered;
}
h1, h2, h3, h4 {
    text-align: center;
}
a {
    cursor: pointer;
}
footer {
    font-style: italic;
    background-color: lightgrey;
    color: dimgrey;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
footer p {
    margin: 0;
}

/*Error page*/
.error-message {
    background-color: yellow;
    border: 1px solid dimgray;
    border-radius: 30px;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    padding: 50px;
    font-family: 'Oswald', sans-serif;
} 

/********************************** Plateau du jeu ***********************************/

@keyframes couleur {
    0%, 100% {
        background-color: violet;
    }
    50% {
        background-color: transparent;
    }
}

table.board {
    margin: 10px auto;
    border-collapse: separate;
}
table.board td {
    width: 60px;
    height: 60px;
    text-align: center;
}
.board td.blue, .blue .question {
   background-color: royalblue; 
}
.board td.yellow, .yellow .question {
   background-color: gold; 
}
.board td.green, .green .question {
   background-color: greenyellow; 
}
.board td.red, .red .question {
    background-color: orangered; 
}
.activeCase0, .activeCase1, .activeCase2, .activeCase3, .activeCase4, .activeCase5, .activeCase6, .activeCase7, .activeCase8, .activeCase9 {
    color: transparent;
    background: no-repeat center;
}
.activeCase0{
    background-image: url("images/emoticon.png");
}
.activeCase1{
    background-image: url("images/pion.png");
}
.activeCase2{
    background-image: url("images/rabbit.png");
}
.activeCase3{
    background-image: url("images/eiffel.png");
}
.activeCase4{
    background-image: url("images/bird.png");
}
.activeCase5{
    background-image: url("images/trefle.png");
}
.activeCase6{
    background-image: url("images/musique.png");
}
.activeCase7{
    background-image: url("images/coeur.png");
}
.activeCase8{
    background-image: url("images/oeil.png");
}
.activeCase9{
    background-image: url("images/etoile.png");
}
.multipleGamers{
    background: url("images/multiple.png") no-repeat center !important;
    background-color: white !important;
}
.pawn {
    float: left;
    margin: 10px;
    height: 40px;
    width: 40px;
}
.board .borderTop {
    border-top: var(--big-device-border);
}
.board .borderBottom {
    border-bottom: var(--big-device-border);
}
.board .borderRight {
    border-right: var(--big-device-border);
}
.board .borderLeft {
    border-left: var(--big-device-border);
}
.board .win {
    animation: couleur 5s infinite ease;
}
.board .glyphicon {
    font-size: 30px;
}


/* Home */
.home-text {
    text-align: justify;
}
.home {
    margin: 50px 0;
}

/* select gamers */
.select-display {
    background-color:whitesmoke; 
    display:inline-block; 
    padding:20px; 
    margin: 10px;
}

/*options question*/
.theme {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
.buttons {
    display: block;
}
.toHide {
    display: none; 
}

/*play*/
.play .btn-primary {
    color: white;
    border: 1px solid var(--color-button-play);
    background: linear-gradient(orangered, orange);
}
.play .btn-primary:hover {
    color: var(--color-button-play);
    background: white;
    border: 1px solid var(--color-button-play);
}
.stats {
    display:inline-block; 
    margin: 10px;
}
.gamer-id {
    display: none;
}
.questions {
    display: none;
    background-color:whitesmoke; 
    padding: 50px 20px; 
}
.question {
    border-radius: 6px;
    text-align: center;
    color: black;    
    padding: 15px;
    font-weight: bold;
}
.answer {
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
}
.answer:hover {
    cursor: pointer;
    background-color: grey;
}
.message-info {
    border-bottom: 5px double darkolivegreen;
    margin: 20px;
    padding: 10px;
}
.info-question {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.info-question span {
    padding: 0 3px;
    background-color: white;
    border-radius: 6px;
    font-weight: bold;
}
.info-questions .panel-heading {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    padding: 5px 15px;
}
.info-questions .panel {
    background-color: inherit;
}
.info-questions .panel-group {
    margin-bottom: 0;
}
.info-questions .panel-default {
    border-color: transparent;
}
.info-questions a {
    color: inherit;
}

/*modal*/
#modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9;
}
#window {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;    
    width: 600px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;    
}

/* divers */
.select-text, .info-questions h4 {
    text-align: left;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.center {
    text-align: center;
}
.message-info, .info-validity-answer {
    font-size: 20px;    
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.alert {
    margin: 20px 0;
}


@media screen and (max-width: 610px) {
    .questionsBySchoolClass .panel-body {
        padding: 0;            
    }
    .table-responsive {
        margin: 20px 0;
    }
    .add .toHide, .delete {
        display: inline-block;
    }
    .add .toShow, .toShow {
        display: none;
    }
    .arrayThemes .table-responsive .array {
        padding: 0;
    }
    
    .activeCase0, .activeCase1, .activeCase2, .activeCase3, .activeCase4, .activeCase5, .activeCase6, .activeCase7, .activeCase8, .activeCase9, .multipleGamers {
        background-size: 26px;
    }
    .board .borderTop {
        border-top: var(--small-device-border);
    }
    .board .borderBottom {
        border-bottom: var(--small-device-border);
    }
    .board .borderRight {
        border-right: var(--small-device-border);
    }
    .board .borderLeft {
        border-left: var(--small-device-border);
    }

    #window {
        width: 100%;
        margin-top: 40%;
    }
    .alert-info-question {
        display: inherit;
    }

}
