{# src/GameBundle/Resources/view/Default/view.html.twig #}

{% extends "GameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Add{% endblock %}

{% block body %}

    {{ include("GameBundle:Default:form.html.twig") }}

    {% for message in app.session.flashbag.get('notice') %}
      <p>Message flash : {{ message }}</p>
    {% endfor %}
    
{% endblock %}