{# src/GameBundle/Resources/views/Default/help.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set help = true %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div class="container-fluid">

    <h3>Help</h3>
    
</div>
{% endblock %}