{# src/GameBundle/Resources/views/Default/help.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set help = true %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div class="container-fluid">

    <h2 style="text-align:center;">Aide</h2>

    <h3>Règles du jeu</h3>
        <h4>Objectif</h4>
        <h4>Les couleurs du plateau</h4>

    <h3>Explication du score</h3>
    <h3>Votre participation compte !</h3>
    
    
</div>
{% endblock %}