{# src/GameBundle/Resources/view/Default/view.html.twig #}
{% extends "GameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
      <p>Message flash : {{ message }}</p>
    {% endfor %}
 
    <h2>page index</h2>

    <p><a href=" {{ path('game_login') }} ">CONNEXION</a></p>
    <p><a href=" {{ path('game_signup') }} ">INSCRIPTION</a></p>

{% endblock %}
