* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
}
/********************************** Plateau du jeu ***********************************/

@keyframes couleur {
    0%, 100% {
        background-color: violet;
    }
    50% {
        background-color: transparent;
    }
}

table.board {
    margin: 10px auto;
    border-collapse: separate;
}
table.board td {
    width: 60px;
    height: 60px;
    text-align: center;
}
.board td.bleu {
   background-color: royalblue; 
}
.board td.jaune {
   background-color: gold; 
}
.board td.vert {
   background-color: greenyellow; 
}
.board td.rouge {
    background-color: orangered; 
}
.activeCase0{
    background: url("images/emoticon.png") no-repeat center;
    color: transparent;
}
.activeCase1{
    background: url("images/pion.png") no-repeat center;
    color: transparent;
}
.activeCase2{
    background: url("images/rabbit.png") no-repeat center;
    color: transparent;
}
.activeCase3{
    background: url("images/eiffel.png") no-repeat center;
    color: transparent;
}
.activeCase4{
    background: url("images/bird.png") no-repeat center;
    color: transparent;
}
.activeCase5{
    background: url("images/trefle.png") no-repeat center;
    color: transparent;
}
.activeCase6{
    background: url("images/musique.png") no-repeat center;
    color: transparent;
}
.activeCase7{
    background: url("images/coeur.png") no-repeat center;
    color: transparent;
}
.activeCase8{
    background: url("images/oeil.png") no-repeat center;
    color: transparent;
}
.activeCase9{
    background: url("images/etoile.png") no-repeat center;
    color: transparent;
}
.multipleGamers{
    background: url("images/multiple.png") no-repeat center !important;
    background-color: white !important;
}
.pion {
    float: left;
    margin: 10px;
    height: 40px;
    width: 40px;
}
.board .borderTop {
    border-top: 10px solid white;
}
.board .borderBottom {
    border-bottom: 10px solid white;
}
.board .borderRight {
    border-right: 10px solid white;
}
.board .borderLeft {
    border-left: 10px solid white;
}
.board .win {
    animation: couleur 5s infinite ease;
}
.board .glyphicon {
    font-size: 30px;
}


/*Autre*/

h1 {
    text-align: center;
}
.accueil .para {
    text-align: justify;
}
.accueil {
    margin: 50px 0;
}

.selectGamer p {
    text-align: left;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.form_subject_topic {
    display: none;
}
a {
    cursor: pointer;
}
.center {
    text-align: center;
}
.theme {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
.buttons {
    display: block;
}
.formTheme, .formTopic, .toHide {
    display: none; 
}
.gamer, .chooseSubject {
    background-color:whitesmoke; 
    display:inline-block; 
    padding:20px; 
    margin: 10px;
}
.stats {
    display:inline-block; 
    margin: 10px;
}
.questions {
    display: none;
    background-color:whitesmoke; 
    padding: 50px 20px; 
}
.green .question {
    background-color: greenyellow;
}
.blue .question {
    background-color: royalblue;
}
.red .question {
    background-color: red;
}
.yellow .question {
    background-color: yellow;
}

.question {
    border-radius: 6px;
    text-align: center;
    color: black;    
    padding: 15px;
    font-weight: bold;
}
.answers {
    text-align: center;
}
.answer {
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
}
.answer:hover {
    cursor: pointer;
    background-color: grey;
}
.infoQuestion {
    display: flex;
    justify-content: space-between;
}
div.infoQuestion div {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 6px;
}
.stats p:last-child {
    display: none;
}

.messageInfo, .infoAnswer {
    font-size: 20px;    
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.alert {
    margin: 20px 0;
}

/*modal*/

#modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9;
}
#window {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;    
    width: 600px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;    
}

footer {
    font-style: italic;
    background-color: lightgrey;
    color: dimgrey;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
footer p {
    margin: 0;
}


@media screen and (max-width: 610px) {

}
